 <div>
        <footer class="my-5 pt-5 text-muted text-center text-small">
            
            <p class="mb-0">
              For any inquiries or support, please feel free to reach out to us:
              <br>
              Email: contact@example.com
              <br>
              Phone: +1 123-456-7890
            </p>
            <ul class="list-inline">
              <li class="list-inline-item"><a routerLink="About" routerLinkActive="highlight">About</a></li>
              <li class="list-inline-item"><a routerLink="Contact" routerLinkActive="highlight">Contact</a></li>
            </ul>
          </footer>
    </div>