<div class="container" id="header">
  <h1>ABOUT</h1>
 
  <div id="description">
    <h4>Introducing "EduLearn": Your Gateway to Interactive Online Education</h4>
   
    <p>Welcome to EduLearn, an innovative e-learning platform 
      designed to revolutionize the way you learn. Whether you're a student, 
      professional, or simply curious to expand your knowledge, EduLearn offers a 
      diverse range of online courses to cater to your unique learning needs.</p>
      
    <!-- <p>At EduLearn, we believe that education should be accessible to everyone, 
      regardless of their geographical location or busy schedule. Our platform breaks 
      down barriers by providing a flexible and convenient learning experience. Say goodbye 
      to traditional classroom constraints and embrace the freedom to learn at your own pace, 
      anytime and anywhere.</p>

    <p>Explore our extensive collection of courses meticulously 
      crafted by industry experts and educators. From technology and business to
       arts and sciences, we cover a wide array of subjects to fuel your curiosity and 
       help you achieve your learning goals. Engage with interactive learning materials, 
       engage in discussions with fellow learners, and access resources that enhance your
        understanding of the topic.</p>

    <p>Our dedicated team of experienced tutors is committed to guiding you through your 
      learning journey. They provide valuable insights, practical advice, and personalized
       support to ensure you make the most of your educational experience. Whether you're a 
       beginner or an advanced learner, our courses are designed to accommodate learners of 
       all levels.</p>

    <p>Join the EduLearn community and unlock a world of possibilities. Develop new skills, 
      broaden your horizons, and gain a competitive edge in your field. Embrace the power of
       knowledge and empower yourself to excel in your personal and professional endeavors.</p>

    <p>At EduLearn, we're passionate about transforming education. We invite you to embark
       on this educational adventure with us and discover the endless opportunities that await.
        Get started today and let EduLearn be your trusted companion in your lifelong learning 
        journey.</p>

    <p>Remember, with EduLearn, knowledge knows no boundaries. Together, 
      let's redefine education and shape a brighter future.</p>

    <p>Start your learning journey with EduLearn today!</p>  -->





  </div>
  
</div>

<!-- <div class="container m-5">
    <div class="row">
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    
          <h2>Diya</h2>
          <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
          
        </div>
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    
          <h2>Niranjana</h2>
          <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
         
        </div>
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    
          <h2>Razeena</h2>
          <p>And lastly this, the third column of representative placeholder content.</p>
         
        </div>
      </div>  
</div> -->

