/* You can add global styles to this file, and also import other style files */
/* body{
    
    background-image: linear-gradient(to right top, #0067ff, #9452ea, #cb37cb, #ed12a6, #ff0080);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: beige;
} */